.top-menu {
  width: min-content;
  position: absolute;
  top: 16px;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#create-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffd633;
}

.action-button {
  background-color: transparent;
  border: none;
  font-size: 13px;
  min-height: 50px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  margin: 10px 0 16px;
}

#button-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: 0.2s ease-out forwards;
  max-height: 404px;
  opacity: 1;
  overflow: hidden;
  padding: 6px 6px 0;
}
#layers-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: 0.2s ease-out forwards;
  max-height: 404px;
  opacity: 1;
  overflow: hidden;
}

.settings,
.comment,
.create {
  position: relative;
}

#create-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 350px;
  min-height: fit-content;
  background-color: white;
  /* display: none; */
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
  /* display: none; */
  z-index: 3;
}

#layers-menu {
  min-height: fit-content;
  background-color: white;
  /* display: none; */
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
  display: none;
}

#create-button {
  width: 95px;
  height: 38px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
}
#create-button,
#settings-button,
#comment-button,
#profile-button {
  font-size: 16px;
  line-height: 38px;
  padding: 0 3px;
  border-radius: 19px;
  transition: all 0.5s ease-in-out;
  border: none;
  outline: none;
  margin-right: 14px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
}

#settings-button,
#comment-button,
#profile-button {
  padding: 0 12px;
}
#layers-button {
  position: absolute;
  bottom: 30px;
  left: 14px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
}

#create-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#settings-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#comment-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#profile-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#layers-button:hover {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button-title {
  line-height: 22px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 3px 0px 0px;
}

.button-img {
  transition: all 0.2s ease-in-out;
}

.button-img:hover {
  transform: translateY(-5px);
}

#create-menu.hidden {
  display: none;
}
